<div class="revision_history">
    <ul>
        <?php foreach ($history as $record) { ?>
        <li>
            <a data-toggle="modal" href="#history-revision-<?= $record['id']?>">
                <i class="list-icon icon-terminal"></i>
                <span class="title"><?= $record->created_at->format('d. m. Y H:i') ?></span>
                <span class="description-user">
                    <?php if ($record->user) { ?>
                        <?= e($record->user->first_name) ?> <?= $record->user->last_name) ?>
                    <?php }else{ ?>
                        System
                    <?php } ?>
                </span>
                <span class="description">
                    <?= e($record->field) ?>:
                    <del><?= e($record->old_value) ?></del>
                    <ins><?= e($record->new_value) ?></ins>
                </span>
                <span class="borders"></span>
            </a>

            <div class="control-popup modal fade" id="history-revision-<?= $record->id ?>" tabindex="-1"
                role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Restore change</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <?php if ($record->user) { ?>
                                    <?= e($record->user->first_name) ?> <?= e($record->user->last_name) ?>
                                <?php } else { ?>
                                    System
                                <?php } ?>
                            </div>
                            <b><?= e($record->field) ?>:</b>
                            <del><?= e($record->old_value) ?></del> <ins><?= e($record->new_value) ?></ins>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-request="onRevertHistory"
                                data-request-data="revision_id: <?= $record->id ?>" data-request-flash
                                data-dismiss="modal">Restore change</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <?php } ?>
    </ul>
</div>